<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>OitnB Ranker</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h2>Choose among both characters, which one you like the best.</h2>
    
    <button type='submit' class='btn btn-primary'>aaaaa!</button>
    <button type='submit' class='btn btn-primary'>Rank only the main cast!</button>
    </form>
  </body>
</html>