<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>OitnB Ranker</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1>Orange is the New Black </h1>
    <p>This is a ranker for the Orange is the New Black characters, it is based on the quick sort algorithm. You should choose your favorite character among two of them at a time, after a number of comparisons it should give you a somehow precise rank.</p>
    
    <button type='submit' class='btn btn-primary'>aaaaa!</button>
    <button type='submit' class='btn btn-primary'>Rank only the main cast!</button>
    </form>
  </body>
</html>